header{
    background-color: rgb(207, 80, 150);
    color: black;
    padding: 13px;
}

nav{
    background-color: rgb(175, 135, 155);
    color: black;
    padding: 10px;
}

section{
    float: left;
    width: 60% ;
    background-color: rgb(230, 178, 230);
}

aside{
    float: left;
    width: 40% ;
    background-color: rgb(238, 200, 238);
}

footer{
    background-color: rgb(229, 188, 211);
    color: black;
    padding: 10px;
}
.Contenedor::after{
    content:"";
    display: block;
    clear: both;
    
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    padding: 6.5px;
}
#Menú #desple{
    display: none;
}