header{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 13px;
}

nav{
    background-color: rgb(211, 199, 181);
    color: black;
    padding: 10px;
}

section{
    float: left;
    width: 60% ;
    background-color: rgb(182, 228, 235);
}

aside{
    float: left;
    width: 40% ;
    background-color: rgb(145, 162, 207);
}

footer{
    background-color: rgb(161, 162, 224);
    color: black;
    padding: 10px;
}
.Contenedor::after{
    content:"";
    display: block;
    clear: both;
    
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    padding: 6.5px;
}
#Menú #desple{
    display: none;
}
li a, boton{
    display: inline-block;
    
}
iframe{
    width: 96%;
    height: 90vh;
}
